@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: black;
  --navbar-height: 80px;
  --primary-offset: 1rem;
}

body {
  color: var(--foreground);
  background: var(--background);
}

html.light {
  --background: #ffffff;
  --foreground: black;
}

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@layer utilities {
  .container-reading {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--primary-offset);
    padding-right: var(--primary-offset);
    max-width: 800px;
  }

  @screen 2xl {
    .container-reading {
      max-width: 800px;
    }
  }
}

mark {
  background-color: yellow;
}
